#appPointer {
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 200;

  font-size: 2em;
}

#appVideoStream {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

  position: fixed;
  bottom: 2%;
  right: 2%;
}
