#appPointer {
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 200;
  padding: 0;
  margin: 0;

  font-size: 2em;
  border: 1px solid green;
}

#appVideoStream {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

  position: fixed;
  bottom: 2%;
  right: 2%;
}

#calibrationText {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.interactive_element {
  border: 1px solid red !important;
}

.interactive_blue {
  border: 4px solid blue !important;
}
